.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.draggable {
    cursor:move;
}

.droppable {
     padding: 3px;
}

#calendar_load_switch {
    cursor:pointer;
}

.week {
     border: 1px solid #e3e3e3;
     margin-bottom: 10px;
     margin-right: 10px;
     border-radius: 4px;
     padding: 4px;
}

#ems_rotation {
    margin-top: 20px;
}

#ems_rotation > div {
    padding-left: 0px;
    padding-right: 0px;
}
#ems_rotation .draggable {
    width: 100px;
    height: 20px;
    overflow: hidden;
}
.draggable-hover {
    background-color:#eed;
    border-radius: 4px;
}

.droppable-hover {
     background-color:#eed;
     border-radius: 4px;
}

.notassigned {
     background-color: #fdd;
}

textarea {
  white-space: nowrap!;
  word-wrap: normal;
}

.editor {
    min-height: 50px;
    border-right: 1px dashed silver;
    border-bottom: 1px solid silver;
    margin-top: -10px;
}

.editor_pane {
    padding-top: 0px;
}

div#alerts .hero {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
}

div#alerts .total {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}

div#alerts .mail {
    cursor: pointer;
}

div#alerts .mail .payload {
    display: none;
    font-family: courier;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
    margin-bottom: 4px;
}

div#alerts h4 .date {
    float:right;
    font-size: 80%;
}

table.person th.picture {
    width: 100px;
}
table.person th.phone {
    width: 350px;
}
table.person img.person {
    max-height: 100px;
    max-width: 100px;
}
