{% extends 'layout.jinja' %}
{% block title %}Alerts{% endblock %}
{% block content %}
{% if current_user.is_anonymous() %}
<p>
You are not logged in.
</p>
{% else %}
<div id="alerts">
<div id='accordion' class='row'>
    {% for week in weeks %}
        <h4>Week {{week.week_nr}} <span class="date">{{week.start_date}} - {{week.end_date}}</span></h4>
        <div>
            <span class="hero">{% if week.person %}Hero: {{ week.person.name }}{% endif %}</span>
            <span class="total">Total messages: {{ week.mails|length }}</span>
            <span class="adcloud">Adcloud messages: {{ week.adcloud_count }}</span>
            <ul>
            {% for m in week.mails %}
                <li class="mail">{{ m.date }} - {{ m.get('Subject') }}
                    <div class="payload">{{ m.get_payload() }}</div>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
</div>
<script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
{% endif %}
{% endblock %}

