{% extends 'layout.jinja' %}
{% block title %}Alerts{% endblock %}
{% block content %}
{% if current_user.is_anonymous() %}
<p>
You are not logged in.
</p>
{% else %}
<div class="row">
    <div class="span3 alerts_overview">
        <div>Total nr alerts this week: {{ weeks[0].mails|length }}</div>
        <div>Total nr alerts last week: {{ weeks[1].mails|length }}</div>
    </div>
    <div class="span4 alerts_overview">
        <div>Alerts last week until {{ weekday }}: {{ last_week_accumulative }}</div>
    </div>
    <div class="span4 alerts_overview">
        <div>Alerts this week between 18 - 09: {{ weeks[0].count_alarm_nighttime }}</div>
        <div>Alerts last week between 18 - 09: {{ weeks[1].count_alarm_nighttime }}</div>
    </div>
</div>
<div id="alerts">
<div id='accordion' class='row'>
    {% for week in weeks %}
        <h4>Week {{week.week_nr}} <span class="date">{{week.start_date}} - {{week.end_date}}</span></h4>
        <div>
            <span class="hero">{% if week.person %}Hero: {{ week.person.name }}{% endif %}</span>
            <span class="total">Total messages: {{ week.mails|length }}</span>
            <ul>
            {% for m in week.mails %}
                <li class="mail">{{ m.date }} - {{ m.get('Subject') }}
                    <div class="payload">{{ m.get_payload() }}</div>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
</div>
<script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
{% endif %}
{% endblock %}

