<!DOCTYPE HTML>
<html>
<head>
<style type="text/css">
.divbox {width:110px;height:110px;margin:0 5px 0; padding:10px;border:1px solid
    #aaaaaa;float:left}
#red {width:100px;height:100px; solid;
    background-color:red;  float:left;}
#blue {width:100px;height:100px; solid;
    background-color:blue; float:left;}
#green {width:100px;height:100px; solid; background-color:green;  float:left;}
</style>
<script>
function allowDrop(ev)
{
ev.preventDefault();
}

function drag(ev)
{
ev.dataTransfer.setData("Text",ev.target.id);
}

function drop(ev)
{
ev.preventDefault();
var data=ev.dataTransfer.getData("Text");
var initdiv = document.getElementById(data).parentNode;
var exchange = ev.target;
exchange.parentNode.appendChild(document.getElementById(data));
initdiv.appendChild(exchange);
ajaxCalls("GET","./testcall?emps="+exchange.id);
}

function ajaxCalls(method,url){
    xmlhttp=new XMLHttpRequest();
    xmlhttp.onreadystatechange=function(){
        if (xmlhttp.readyState==4 && xmlhttp.status==200){
           alert("employee : "+xmlhttp.responseText); 
        }
    }
    xmlhttp.open(method,url,true);
    xmlhttp.send();
}
</script>
</head>
<body>


<div id="div1" class="divbox" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div id="red"  draggable="true" ondragstart="drag(event)" >RED</div>
</div>
<br>

<div id="div2" class="divbox" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div id="blue"  draggable="true" ondragstart="drag(event)" >BLUE</div>

</div>
<br>

<div id="div3" class="divbox" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div id="green"  draggable="true" ondragstart="drag(event)" >GREEN</div>

</div>
<br>
</body>
</html>
