{% extends 'layout.jinja' %}

{% block title %}Incidents{% endblock %}
{% block content %}
{% if current_user.is_anonymous() %}
<p>
You are not logged in.
</p>
{% else %}
<div id='accordion' class='row'>
    {% for week in weeks %}
        <h4>Week {{week.week_nr}}</h4>
        <div class="editor_pane">
            <div class='editor' data-week-id="{{week.id}}" {% if week.incident %}{{ week.incident.id }}{% endif %}>
                {% if week.incident %}{{ week.incident.html }}{% endif %}
            </div>
            {% if week.incident and week.incident.last_user %}
            <p>Last edited by: {{ week.incident.last_user.username }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
<script src="{{ url_for('static', filename='js/jquery.editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
<script src="{{ url_for('static', filename='js/incidents.js') }}"></script>
{% endif %}
{% endblock %}

