{% extends 'layout.jinja' %}
{% from 'macros.jinja' import with_errors %}
{% block title %}Person Page{% endblock %}
{% block content %}
{% if current_user.is_anonymous() %}
<p>
You are not logged in.
</p>
{% else %}

  <table class="table table-bordered person">
    <tr>
    <th class="picture">Picture<sup>*</sup></th>
    <th>Name</th>
    <th class="phone">Phone<sup>*</sup></th>
    <th class="hero">Hero</th>
    <th class="hero">Set to gone</th>
    <tr>
    {% for person in persons %}
      <tr>
      <td class="person_picture" data-person-id="{{ person.id }}">{% if person.picture %}<img class="person" src="{{ person.picture }}"/>{% endif %}</td>
      <td>{{ person.name }}</td>
      <td class="person_phone" data-person-id="{{ person.id }}">{{ person.phone }}</td>
      <td class="person_hero"><input type="checkbox" class="person_is_hero" data-person-id="{{ person.id }}" {% if person.is_hero %}checked="true"{% endif %}"/></td>
      <td class="person_hero"><input type="checkbox" class="person_is_gone" data-person-id="{{ person.id }}" {% if person.is_gone %}checked="true"{% endif %}"/></td>
      </tr>
    {% endfor %}
  </table>
  <sup>*)</sup> editable by doubleclick
  <script src="{{ url_for('static', filename='js/person.js') }}"></script>
{% endif %}
{% endblock %}
